:root {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

*,
*::before,
*::after{
   -webkit-box-sizing: inherit;
   box-sizing: inherit;

}

body {
   font-size: 2em;

}

.container {
   margin-top: 50%;

}

.grid {
   display: grid;
   align-self: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 1em;


}

.grid > div {
   padding: 0.3em;
   border: 1px solid black;
   -webkit-box-shadow: -10px 0px 10px  #888 ;
   box-shadow: -10px 0px 10px  #888 ;
   background-color: lightblue;
}

.btn {
   font-size: 0.5em;
   border-radius: 0.5em;
}

input {
   position: relative;
   bottom: .3em;
}

@media (min-width: 37.5em ) {
   .container {
      margin-top: calc(50% - 20%)
   }

}

@media (min-width: 48.5em ) {
   .container {
      margin-top: calc(50% - 30%)
   }

}



@media (min-width: 59.375em ) {
   .container {
      margin-top: calc(50% - 40%)
   }

}
